<template name="header">
	<div class="ui vertical secondary fluid menu">
		<div class="item">
			<div class="ui transparent icon input">
				<input type="text" id="actionSearch" placeholder="Search">
				<i class="search icon"></i>
			</div>
		</div>
		<div class="hamster-scrollbar" data="{{notes.count}}">
			<div>
				{{#each notes}}
					<a class="teal item" id="actionViewNote" data="{{_id}}">
						{{ shortString content }}
						<p>{{momentShort dateNote}}</p>
					</a>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="header-config">
			<div class="ui divided selection list">
			  <a class="item">
			    <div class="ui yellow horizontal label"><i class="wifi icon"></i> Connect you</div>
			  </a>
			</div>
	</div>
	<div class="header-pop">
		<div class="ui divided selection list header-pop-close">
		  <a class="item">
		    <div class="ui yellow horizontal label"><i class="wifi icon"></i> Connect you</div>
		  </a>
		</div>
		{{> atForm}}
	</div>
</template>