<template name="header">
	<div class="ui vertical secondary fluid menu">
		{{#if currentUser}}
			<button class="ui compact tiny icon green button header-action-crypt" id="actionSecurity">
			  <i class="lock icon"></i>
			</button>
			<div class="item hamster-search">
				<div class="ui transparent icon input">
					<input type="text" id="actionSearch" placeholder="Search">
					<i class="search icon"></i>
				</div>
			</div>
		{{else}}
			<div class="item">
				<div class="ui transparent icon input">
					<input type="text" id="actionSearch" placeholder="Search" disabled>
					<i class="search icon"></i>
				</div>
			</div>
		{{/if}}	
		<div class="hamster-scrollbar" >
			<div>
				{{#if currentUser}}
					<div id="noteNumber" data="{{notes.count}}">
						{{#each notes}}
							<a class="teal item" id="actionViewNote" data="{{_id}}">
								{{shortString content}} <br />
								<p>{{momentShort dateNote}}</p>
							</a>
						{{/each}}
					</div>
				{{else}}
					<div>
						<a class="teal item active" id="actionViewNote" >
							Welcome To hamster!
							<p>{{momentShort moNow}}</p>
						</a>
					</div>
				{{/if}}
			</div>
		</div>	
	</div>
	{{#if currentUser}} 
      	<div class="header-config-logout">
			<div class="ui divided selection list">
			  <a class="item">
			    <div class="ui yellow horizontal label"><i class="wifi icon"></i> Logout</div>
			    You are connected
			  </a>
			</div>
		</div>
		
    {{else}} 
      	<div class="header-config">
			<div class="ui divided selection list">
			  <a class="item">
			    <div class="ui yellow horizontal label"><i class="wifi icon"></i> Connect you</div>
			  </a>
			</div>
		</div>
		<div class="header-pop">
			<div class="ui divided selection list header-pop-close">
			  <a class="item">
			    <div class="ui yellow horizontal label"><i class="wifi icon"></i> Connect you</div>
			  </a>
			</div>
			{{> atForm}}
		</div>
    {{/if}}
	
	
</template>