<template name="note">
	<div class="note-action-bar">
		<button class="ui compact icon button note-action-bar-add" id="actionAddNote">
		  <i class="plus icon"></i>
		</button>
		<button id="actionDeleteNote" data="{{noteId}}" class="ui compact icon button note-action-bar-option">
		  <i class="trash alternate icon"></i>
		</button>
		{{#if notes.count}}
			<div class="note-action-bar-date">{{momentShort noteDateNote}}</div>
		{{else}}
			<div class="note-action-bar-date">{{moFormat moNow 'DD/MM/YYYY, hh:mm'}}</div>
		{{/if}}
	</div>
	<div class="note-content">
		{{#if notes.count}}
			<form id="viewEditNote" data="{{noteId}}">
				<textarea autofocus="on" id="editNote">{{ noteContent }}</textarea>
			</form>
		{{else}}
			<form id="viewAddNote">
				<textarea autofocus="on" id="addNote">New note</textarea>
			</form>
		{{/if}}
	</div>
</template>