<template name="note">
	{{#if currentUser}} 
		<div class="note-action-bar">
			<button class="ui compact tiny icon button note-action-bar-add" id="actionAddNote">
			  <i class="plus icon"></i>
			</button>
			<button class="ui compact tiny icon button note-action-bar-add" id="actionDarkMode">
			  <i class="adjust icon"></i>
			</button>
			<button id="actionDeleteNote" data="{{noteId}}" class="ui compact tiny icon button note-action-bar-option">
			  <i class="trash alternate icon"></i>
			</button>
			<div class="note-action-bar-date">{{momentShort noteDateNote}} </div>
		</div>
		<div class="note-content">
			<form id="viewEditNote" data="{{noteId}}">
				<textarea autofocus="on" id="editNote">{{noteContent}}</textarea>
			</form>
		</div>
		<div class="darkMode" style="display:none;">
			<div class="note-action-bar">
				<button class="ui compact tiny icon button note-action-bar-add inverted" id="actionDarkMode">
				  <i class="adjust icon"></i>
				</button>
				<div class="heading">Night mode</div>
				<div class="note-action-bar-date">{{momentShort noteDateNote}} </div>
			</div>
			<div class="note-content">
				<form id="viewEditNoteDarkMode" data="{{noteId}}">
					<textarea autofocus="on" id="editNoteDarkMode">{{noteContent}}</textarea>
				</form>
			</div>
		</div>
	{{else}}
			<div class="note-action-bar">
				<div class="note-action-bar-date" style="margin-top:0">{{momentShort moNow}}</div>
			</div>
			<div class="note-content">
				<form id="viewEditNote" >
					<textarea >Welcome to Hamster !

Please connect for add, edit, and view your notes everywhere.
</textarea>
				</form>
			</div>
	{{/if}}

	{{#if currentUser}} 
		<div class="security-pop">
			<div class="header" >
				<button class="ui compact tiny icon yellow button header-action-crypt" id="actionSecurity">
				  <i class="setting icon"></i>
				</button>
				<div class="heading">Hamster Settings</div>
			</div>
			<div class="content">
				<h4>Your RSA key</h4>
				<div class="ui message">
				  <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
				</div>
			    <div class="ui form">
				  <div class="field">
				    <label>private_key</label>
				    <textarea name="private_key" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 58px;"></textarea>
				  </div>
				  <div class="field">
				    <label>public_key</label>
				    <textarea name="public_key" rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 58px;"></textarea>
				  </div>
				  <p>
			          <button type="button" id="generate_private_key" name="generate" class="ui yellow button fluid tiny">Generate</button>
			      </p>
				</div>					 
			</div>
		</div>
	{{/if}}
	
</template>