<template name="note">
	<div class="note-action-bar">
		<button class="ui compact icon button note-action-bar-add">
		  <i class="plus icon"></i>
		</button>
		<button class="ui compact icon button note-action-bar-option">
		  <i class="external share icon" data-content="Futur feature" data-variation="basic tiny" data-position="bottom center"></i>
		</button>
		<div class="note-action-bar-date">3 september 2015, 14:00</div>
	</div>
	<div class="note-content">
		<form>
			<textarea>New note</textarea>
		</form>
	</div>
</template>